.main {
  width: 100%;
  min-height: 100vh;
  background: #f0f2f5;
  padding: 60px;
}
.main-layout {
  display: flex;
  height: 100vh;
}

.navbar {
  background: #001529;
  text-align: center;
  padding: 60px 0px;
}